[Unit]
Description=black
After=network.target

[Service]
WorkingDirectory=/root/digital-black
Environment=PORT=3001
Environment=DB_PATH=/root/digital-black/items.sqlite
Type=simple
User=root
ExecStart=/usr/bin/node server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
